<!DOCTYPE html>
<head>

    <title>My Bio

    </title>

     <link rel="stylesheet" type="text/css" href="/styles.css">
 
</head>

<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/" class="%= req.originalUrl==='/'? 'active':'' %>"> Home </a></li>
                <li><a href="/About-me" class="%=req.originalUrl==='/About-me'? 'active':''%>"> About-me </a></li>
                <li><a href="/MyBio" class="%=req.originalUrl==='/Mybio'? 'active':''%>"> MyBio </a></li>
                <li><a href="/Contact-me"class="%=req.originalUrl==='/Contact-me'? 'active':''%>"> Contact-me </a></li>
            </ul>
        </nav>
    </header>

    <ul>

        <h1> This is a My Bio page for my Portfolio Site ...</h1>

    <li><h3> Bio Page </3></li>

    <li><h4> Name : Arun Samy V </h4></li>

   <li><h4> DOB : 18.07.2004 </h4></li>
   
    <li><h4> Gender : Male </h4></li>

    <li><h4> Dept : CSE </h4></li>

    <li><h4> Clg :  GCE Bodi </h4></li>

    <li><h4> Hobby : Sleeping </h4></li>

    <li><h4> Position : Developer </h4></li>

    <li><h4> Languages known : MERN </h4></li>

    </ul>

</body>